.search-products-container {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 grow;
}

.search-products-container[data-showFilter="true"] {
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
}

.search-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #01011e;
  font-weight: 700;
  margin-bottom: 13px;
}

.search-page-button-section {
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  span {
    color: #7a7a7a;
    font-weight: 600;
  }
}

.search-page-label-select {
  position: relative;
  select {
    color: darkslategray;
    padding: 9px 36px 4px 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
  }
  label {
    position: absolute;
    color: #000323;
    font-weight: 400;
    top: 5px;
    left: 10px;
    font-size: 8px;
  }
}

.range-label {
  @apply font-semibold text-sm;
}

.price-div .p-inputtext {
  height: auto;
  padding: 3px 8px;
  font-size: 10px;
}
