.filterdiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activefilter {
  opacity: 100% !important;
  font-weight: 900 !important;
  border-width: 2px !important;
}

.colorDiv {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

.normalDiv {
  background-color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  opacity: 70%;
  border-radius: 5px;
  border: 1px solid #633b22;
}

.description {
  font-size: 10px;
  font-weight: 500;
  color: #957764;
  margin-bottom: 6px;
}

.hidden-div {
  overflow: hidden;
  position: absolute;
  max-height: 23px;
  width: 100%;
  background: white;
  bottom: 1px;
  opacity: 80%;
  left: 0px;
  padding: 0 8px;
  transition: max-height 1s ease-in-out;
}

.hidden-div:hover {
  max-height: 100%;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.product-available-color {
  display: flex;
  gap: 4px;
}

.product-name {
  color: #101419;
  font-weight: 600;
  margin-top: 10px;
}

.product-description {
  font-size: 10px;
  color: lightslategray;
  font-weight: 500;
  height: 30px;
}

.product-price {
  font-size: 19px;
  color: #0f0d3a;
  font-weight: 800;
}

.card-image {
  filter: drop-shadow(3px 6px 9px gray);
}

.addtoCart {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: white;
  height: 61px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;

  button {
    padding: 10px;
    background: black;
    border-radius: 999px;
    color: white;
  }
}

.addtoCart::after {
  content: "";
  width: 22px;
  height: 24px;
  position: absolute;
  top: -24px;
  right: 0px;
  border-bottom-right-radius: 13px;
  box-shadow: 13px 11px white;
  background: transparent;
}

.addtoCart::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: -20px;
  border-bottom-right-radius: 11px;
  box-shadow: 10px 13px white;
}

.top-product-name {
  font-size: 18px;
  padding-left: 13px;
  font-weight: 600;
  color: #161616;
  line-height: 18px;
}

.top-product-description {
  font-size: 10px;
  color: #a8a8a8;
}

.top-product-price {
  padding-left: 13px;
  color: #c09f8a;
  font-size: 17px;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
  line-height: 14px;
  margin-top: 6px;
}
.currency {
  font-size: 12px;
  line-height: 12px;
}

.wishlist {
  position: absolute;
  top: 13px;
  right: 19px;
  color: darkgrey;
}

.product-wishlist {
  position: absolute;
  top: 13px;
  right: 12px;
  color: darkgrey;
}

.colorbutton {
  button {
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgb(229, 255, 0) 50%,
      #00fbff 100%
    );
    height: 25px;
    width: 25px;
    border-radius: 999px;
  }
}

.product-card {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.background-circle {
  height: 50%;
  width: 100%;
  background-color: color-mix(in oklab, var(--user-theme), transparent 85%);
  border-radius: 16px 16px 0px 0px;
}

.product-image {
  position: absolute;
  align-items: center;
  top: 13%;
  right: 5%;
  width: 90%;
  filter: drop-shadow(
    4px 9px 0px color-mix(in oklab, var(--user-theme), transparent 85%)
  );
  display: flex;
  justify-content: center;
  height: 185px;
}
.ratings {
  display: flex;
  gap: 2px;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 800;
  font-size: 14px;
}
.details-div {
  flex-grow: 1;
  border: 1px solid #e4e4e4;
  border-top: none;
  width: calc(100% - 1px);
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 22px 10px;
  border-radius: 0px 0px 16px 16px;
  box-shadow: -1px 4px 9px 0px #f0f0f0;
}

.detail-name {
  font-size: 16px;
  color: #000153;
  font-weight: 700;
  line-height: 16px;
}

.detail-description {
  font-size: 10px;
  color: #a8a8d0;
  font-weight: 700;
}

.detail-price {
  color: #484848;
  font-size: 18px;
  font-weight: 800;
}

.text-flag {
  border: 1px solid #cfcffa;
  padding: 2px 4px;
  font-size: 10px;
  color: #a4a4ff;
  font-weight: 800;
  border-radius: 6px;
  box-shadow: 2px 3px #ebebff;
  cursor: pointer;
  line-height: 15px;
}

.text-flag:hover {
  background-color: #ebebff85;
  box-shadow: 2px 3px #ebebff;
}

.variant-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}
