.container-div {
  display: flex;
}

.navbar-container {
  @apply h-12 fixed top-0 flex items-center;
  z-index: 49;
  gap: 10px;
  border-bottom: 1px solid #e9eaeb;
  background: #f2f4f7;
}

.navbar-search-container {
  flex-grow: 1;
  position: relative;
  color: slategrey;
  input {
    width: 100%;
    padding: 8px 36px;
    border-radius: 6px;
    max-width: 990px;
    font-size: 12px;
    outline: none;
  }
  svg {
    position: absolute;
    top: 9px;
    left: 9px;
  }
}
