.rating-product-container {
  background-color: color-mix(in oklab, var(--user-theme), white 90%);
  border: 1px solid;
  border-color: color-mix(in oklab, var(--user-theme), white 10%);
  padding: 8px 4px;
  .img-container {
    border-radius: 6px;
    background: #a9a9a952;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
  }
  .product-title {
    font-size: 16px;
    line-height: 20px;
  }
  .product-category {
    font-size: 10px;
    line-height: 18px;
  }
}

.link-container {
  display: flex;
  gap: 4px;
  background-color: #f6f8fe;
  color: #1a1b1f;
  padding: 10px 16px;
  border-radius: 11px;
  font-size: 14px;
  margin-top: 6px;
}

.social-media-icon {
  font-size: 12px;
  color: slategray;
  line-height: 21px;
  text-align: center;
}

.social-media-icon:hover {
  color: rgb(50, 56, 63);
  font-size: 12px;
  font-weight: 600;
}

.forgot-modal {
  header {
    text-align: center;
    h1 {
      font-size: 16px;
      font-weight: 600;
    }
    .sub-text {
      font-size: 12px;
      color: slategray;
    }
  }

  form {
    margin-top: 16px;
    label {
      font-size: 14px;
      font-weight: 500;
      color: #2a3535;
    }
    fieldset {
      display: flex;
      align-items: center;
      border: 1px solid dimgray;
      padding: 10px 16px;
      border-radius: 30px;
      color: dimgray;
      gap: 8px;
      margin: 8px 0;
      i {
        border-right: 1px solid gray;
        padding-right: 8px;
      }
      input {
        flex-grow: 1;
        outline: none;
        color: black;
        font-size: 14px;
      }
    }
    fieldset:focus-within {
      border: 1px solid var(--user-theme);
    }
    footer {
      button {
        background-color: var(--user-theme);
        width: 80%;
        border-radius: 30px;
        color: white;
        margin-top: 20px;
        padding: 6px;
      }
      button:focus {
        outline: none;
        border: 2px solid color-mix(in oklab, var(--user-theme), black 40%);
      }
    }
  }
}
