.rating-product-container {
  background-color: color-mix(in oklab, var(--user-theme), white 90%);
  border: 1px solid;
  border-color: color-mix(in oklab, var(--user-theme), white 10%);
  padding: 8px 4px;
  .img-container {
    border-radius: 6px;
    background: #a9a9a952;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
  }
  .product-title {
    font-size: 16px;
    line-height: 20px;
  }
  .product-category {
    font-size: 10px;
    line-height: 18px;
  }
}
