.dashboard-container {
  padding: 10px;
  /* background-color: #f6f6f6; */
  border-radius: 12px;
  @apply grid grid-cols-4 gap-4;
}

.graph-container {
  @apply grid grid-cols-3 gap-2 col-span-3;

  .graph-card {
    background-color: #f6f6f6;
    /* padding: 10px 18px 0px 18px; */
    border-radius: 8px;
    .graph-label {
      font-size: 10px;
      font-weight: 600;
      color: slategray;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .graph-value {
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
    }
    .graph-icon-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      gap: 4px;
    }
    .graph-icon {
      height: 15px;
    }
  }
  .revenue-analysis-card {
    @apply col-span-2;
    background-color: #f6f6f6;
    border-radius: 8px;
    height: fit-content;
    .revenue-analytics-label-container {
      padding: 18px 18px 18px 18px;
    }
  }

  .top-selling {
    background-color: #f6f6f6;
    height: fit-content;
    border-radius: 8px;
    background-image: url("/src/assets/top-product-bg.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    .top-selling-header {
      padding: 16px 18px 0px 18px;
      font-weight: 600;
      font-size: 18px;
    }
    .top-products-list-container {
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .top-product-1 {
      display: flex !important;
      flex-direction: column;
      width: 240px !important;
      img {
        height: 180px;
        filter: drop-shadow(4px 6px 8px black);
      }
    }
    .slick-slide {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0px 30px 30px 30px;
      font-size: 16px;
      font-weight: 600;
    }
    .ant-carousel .slick-dots li::after {
      background-color: blueviolet;
    }
    .ant-carousel .slick-dots li button {
      background-color: blueviolet;
    }
  }

  .new-comments {
    background-color: #f6f6f6;
    border-radius: 8px;
    .label-container {
      padding: 10px 18px 10px 18px;
    }
    .new-comments-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      max-height: 130px;
      overflow-y: auto;
      padding: 0px 18px 0 18px;
      .comment {
        display: flex;
        gap: 14px;
        .user-profile {
          height: 30px;
          min-width: 30px;
          border-radius: 999px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          border: 1px solid #c6c6c6;
        }
        .user-name {
          font-size: 14px;
          font-weight: 600;
          margin-top: 4px;
          line-height: 20px;
        }
        .comment-text {
          font-size: 12px;
          color: slategray;
        }
        .comment-date {
          font-size: 10px;
          color: orange;
          line-height: 14px;
        }
      }
      .ant-rate-star:not(:last-child) {
        margin-inline-end: 0px;
      }
    }
  }
}

@media not all and (min-width: 640px) {
  .graph-icon-container {
    display: none !important;
  }
  .dashboard-container {
    padding: 0px !important;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .revenue-analysis-card {
    @apply col-span-3 !important;
  }
}

.overall-container {
  @apply grid grid-cols-2 gap-2;
  .overall-card {
    background-color: #f6f6f6;
    border-radius: 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
  }
  .overall-card.sales {
    color: #ff7556;
    .total-sales-icon {
      height: 80px;
      width: 80px;
      border-radius: 999px;
      background-color: #ff7556;
      border: 4px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 78px 35px #ff755640;
    }
  }

  .overall-card.products {
    color: #29ab91;
    .total-sales-icon {
      height: 80px;
      width: 80px;
      border-radius: 999px;
      background-color: #29ab91;
      border: 4px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 78px 35px #c7fff4;
    }
  }

  .overall-card.customers {
    color: #37a2e8;
    .total-sales-icon {
      height: 80px;
      width: 80px;
      border-radius: 999px;
      background-color: #37a2e8;
      border: 4px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 78px 35px #c6e8ff;
    }
  }

  .overall-card.visit {
    color: #feb557;
    .total-sales-icon {
      height: 80px;
      width: 80px;
      border-radius: 999px;
      background-color: #feb557;
      border: 4px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 78px 35px #fce9bf;
    }
  }
}

.top-seller-container {
  background-color: #f6f6f6;
  border-radius: 8px;
  padding-bottom: 10px;
  .label-container {
    padding: 10px 18px 10px 18px;
  }
}

.chat-bubble {
  background: #f4f4f4;
  width: 160px;
  font-size: 12px;
  line-height: normal;
  padding: 9px;
  border-radius: 10px;
  color: #595959;
  position: absolute;
  top: 4px;
  right: 105px;
  font-weight: 500;
}

.chat-bubble::after {
  transform: rotate(319deg);
  content: "";
  position: absolute;
  right: -5px;
  bottom: -2px;
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #f4f4f4 transparent transparent transparent;
}
