.navbarText {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: color-mix(in oklab, var(--user-theme), black 50%);
  font-size: 12px;
  padding: 0 26px;
}

.navBar {
  /* box-shadow: -1px 3px 13px 0px gray; */
}

.category-context {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 12px;
  color: gray;
}

.category-context span {
  color: orange;
  font-size: 14px;
  font-weight: 700;
  cursor: default;
}

.category-context a:hover {
  color: #1e223f;
  font-weight: 700;
}

.hideScrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.variant-field-value {
  color: #4444ac;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.variant-field-label {
  font-size: 9px;
  font-weight: 700;
  color: #303030;
}

.suggestion-item {
  padding: 6px 5px;
  border-bottom: 1px solid lightgray;
  position: relative;
  cursor: pointer;
}

.category-value {
  color: #21c216;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.category-label {
  font-size: 9px;
  font-weight: 700;
  color: #303030;
}

.brand-value {
  color: #c21616;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.brand-label {
  font-size: 9px;
  font-weight: 700;
  color: #303030;
}

.fabric-value {
  color: #b4a60c;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.fabric-label {
  font-size: 9px;
  font-weight: 700;
  color: #303030;
}

.fitType-value {
  color: #b4a60c;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.fitType-label {
  font-size: 9px;
  font-weight: 700;
  color: #303030;
}

.product-label {
  color: #8d8d8d;
  font-weight: 500;
  font-size: 12px;
}

.shopping-bag::before {
  content: attr(data-count);
  position: absolute;
  top: -3px;
  right: -5px;
  background-color: var(--user-theme);
  color: white;
  border-radius: 50%;
  padding: 0px 5px;
  font-size: 10px;
  font-weight: bold;
}

.navbar-content {
  border-radius: 999px;
  padding: 4px;
  background-color: color-mix(in oklab, var(--user-theme), white 80%);
  display: flex;
  align-items: center;
}

.navbar-button {
  background-color: color-mix(in oklab, var(--user-theme), white 70%);
  color: var(--user-theme);
  padding: 8px;
  border-radius: 999px;
}

.navbar-button:hover {
  background-color: color-mix(in oklab, var(--user-theme), black 50%);
  color: white;
}
