/* Base styling for the text */
.divider-bg {
  background-color: var(--user-theme);
}

.shiny-text {
  color: var(--user-theme); /* Fallback color */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--user-theme),
    var(--user-theme),
    color-mix(in srgb, var(--user-theme) 30%, white 70%),
    var(--user-theme),
    var(--user-theme)
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 6s linear infinite;
}

/* Shiny animation */
@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
