.bento[data-type="Banner"] {
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bento {
    width: 100% !important;
  }

  .bento[data-type="Banner"] {
    height: 225px;
  }
}

.transparent-overlay {
  justify-content: end;
  position: absolute;
  top: calc(100% - 70px);
  left: 0;
  width: 100%;
  background: linear-gradient(
    to top,
    color-mix(in oklab, var(--user-theme), transparent 60%),
    transparent,
    transparent
  );
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  cursor: pointer;
}

.transparent-overlay:hover {
  bottom: 0 !important;
  transition: bottom 0.3s ease-in-out;
}

.overlay-header {
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  padding-bottom: 30px;
}
