* {
  /* font-family: "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     */
  font-family: "Source Sans Pro", sans-serif !important;
}

.main-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.small-checkbox .p-checkbox-box,
.p-checkbox {
  height: 16px;
  width: 16px;
}

.small-checkbox .p-checkbox-icon {
  width: 10px;
  height: 10px;
}

.p-slider .p-slider-range {
  background: var(--user-theme);
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: var(--user-theme);
  border-color: var(--user-theme);
}

.p-slider .p-slider-handle {
  border-color: var(--user-theme);
}

.p-rating-icon {
  color: gold !important;
}

.success-chip {
  background-color: #e0ffe0;
  color: #33bd33;
  border-radius: 10px;
  font-size: 10px;
  line-height: normal;
  font-weight: 600;
  padding: 8px 18px;
}

.error-chip {
  background-color: #ffe0e0;
  color: #d96f6f;
  border-radius: 10px;
  font-size: 10px;
  line-height: normal;
  font-weight: 600;
  padding: 8px 18px;
}

.regular-chip {
  background-color: #eee0ff;
  color: #5f33bd;
  border-radius: 10px;
  font-size: 10px;
  line-height: normal;
  font-weight: 600;
  padding: 8px 18px;
}
