@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
  .sidebar {
    @apply w-[275px] h-screen text-[#969aa8] bg-[var(--theme-color)] flex flex-col gap-1 font-medium text-base p-3;
  }
  .header {
    @apply flex justify-between text-[#070b51] font-bold text-2xl  py-[19px] items-center relative overflow-hidden;
  }
  .filter-list {
    @apply flex gap-2;
  }
  .filter-option {
    @apply font-bold text-[#797979] px-6 py-[8px] rounded-[30px] text-xs;
  }
  .active-option {
    @apply bg-[#f1f1f1] text-black;
  }
  .form-label {
    @apply block pb-1;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0deg 0% 0%;

    --sidebar-foreground: 0deg 0% 81.32%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 214.3deg 5.99% 42.24%;

    --sidebar-accent-foreground: 0deg 0% 90.32%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222.2 84% 4.9%;

    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;

    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;

    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;

    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;

    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;

    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;

    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    --input: 217.2 32.6% 17.5%;

    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.customButton {
  padding: 9px 19px;
  background: black;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar:horizontal {
  width: 5px !important;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  --theme-color: black;
  --select-option-color: black;
  --sidebar-background: 0, 0%, 0%;
  --select-option-hover-color: rgba(0, 0, 0, 0.266);
  /* --user-theme: orange; */
}

.p-inputtext {
  width: 100%;
  box-shadow: none;
  @apply px-3 py-2 text-sm h-10;
}

.p-button {
  padding: 6px 12px;
  font-size: 14px;
  box-shadow: none;
  background-color: black;
  border: 1px solid #ddddde;
}

.p-stepper-content {
  padding-left: 1rem !important;
}

.p-stepper-panels {
  border: 1px solid lightgray;
  margin-top: 12px;
  border-radius: 5px;
  background: #d3d3d342;
}

.p-stepper .p-stepper-separator {
  width: 15px;
}

.p-stepper-title {
  font-size: 11px;
}

.p-stepper-number {
  height: 25px;
  min-width: 25px;
  font-size: 12px;
}

.p-fileupload-choose {
  padding: 9px 12px;
  width: 100%;
}

.ant-steps-icon,
.ant-steps-item-title {
  color: color-mix(in oklab, var(--user-theme), black 25%) !important;
  font-weight: 600;
}

.ant-steps-item-wait {
  .ant-steps-icon,
  .ant-steps-item-title {
    color: #969696a6 !important;
  }
}
.ant-segmented {
  background-color: #eef0f2;
}

.ant-steps-item-title::after {
  height: 3px !important;
}

.ant-steps-item-finish {
  .ant-steps-item-title::after {
    background-color: color-mix(
      in oklab,
      var(--user-theme),
      transparent 70%
    ) !important;
  }
}

.ant-steps-item-container {
  display: flex;
  align-items: center;
}

.p-disabled {
  background-color: #efefef;
  color: #555;
}

.p-inputtext:enabled:hover,
.p-inputtext:enabled:active,
.p-inputtext:enabled:focus {
  border-color: var(--user-theme);
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
  font-family: "Font Awesome 6 Free" !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--user-theme) !important;
}

.mandatory::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

.errorClass {
  border: 1px solid red;
}

.errorClass.p-inputwrapper {
  border: none;
  .p-inputnumber-input {
    border: 1px solid red;
  }
}

.p-highlight .p-inputswitch-slider {
  background: var(--theme-color);
}

.ag-icon {
  font-family: var(--ag-icon-font-family) !important;
}

.ag-cell-wrapper {
  min-height: 100%;
}

.p-accordion-header-link {
  padding: 16px;
  background: #ffffff;
}

.p-accordion-header-link[aria-expanded="true"] {
  border-bottom: 0;
  padding: 16px 16px 4px 16px;
}

.p-accordion-tab {
  margin-bottom: 16px;
}

.rmsc .dropdown-content {
  z-index: 999 !important;
}
